.Con::after {
	content: '';
	clear: both;
	display: table;
	width: 100%;
	text-align: center;
}

.back {

	background: linear-gradient(180deg, #69b993, #83ba9f, #9abbac, #b0bcb9, #c0c0c4, #cbc7cd, #d6cfd7, #e1d6e1);
}

@media only screen and (min-width: 496px) {
	#Rig {

		text-align: center;
	}
}

.form-group .form-control {


	font-size: 1.5vw !important;

}

label {
	font-size: 1.5vw !important;
}

.Con {
	margin-top: 5% !important;
}

.btn-dark {
	border-radius: 8px;
}

.btn-dark:hover {
	color: white !important;
}

.reds {
	color: rgb(221, 13, 13);
	font-size: 1.5vw;
}

#Lef {
	float: left;
	width: 58%;
	margin-top: 4%;
	height: auto;
	padding: 2% 2% 2% 8.5% !important;
}

#cols {
	color: rgb(223, 123, 33);
}

#Rig {
	float: left;
	width: 38%;
	padding: 6% 5% 2% 2% !important;
	height: auto;
	text-align: left;

}

#Lef,
#Rig {


	padding: 0px 10px;
}

.btn {
	background-color: rgb(16, 25, 40);
	/* White */
	border: none;
	color: rgb(253, 252, 252);
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 10px;
	font-size: 1vw;
}