.back {
	background: linear-gradient(180deg,
			#ffffff,
			#ffffff,
			#b0efe1,
			#88eee7,
			#6de9f8,
			#81deff,
			#a4d1ff,
			#c3c3f6);

	padding-top: 10% !important;
	padding-bottom: 5%;
	z-index: 1;

}

@media(max-width:576px) {
	.back {
		padding-top: 25% !important;
	}
}

/* @media(min-width:320px) {
	.back {
		padding-top: 25% !important;
	}
} */

.btn-dark {
	margin-left: 15px;
}

.Stic {
	z-index: 999;
}


.row {

	padding-top: 0% !important;
}