.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 10px;

}

.card-deck {
    padding-top: 10px;
    padding-left: 0 !important
}

.setting4 {
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 10px;
    padding-right: -16px;

}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.setting3 {

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.container {
    padding: 10px 16px;
}

.checked {
    color: orange;
}

.setting3 {
    overflow: hidden;

}

.settings {
    transition: 0.3s;
    display: inline-block;
}

.setting3:hover {
    transform: scale(1.01);
}

.setting5 {
    padding: 16px;
}

.container-fluid {
    padding-left: 25px;
}