#Containers::after {
    content: "";
    clear: both;
    display: contents;
    width: 100%;
    height: auto;
    padding: 20px;


}


.IB1 {
    text-align: left;
    top: 80px;
}



.but3 {
    border-radius: 5px;
    box-sizing: border-box;
    border: 1.5px solid rgb(206, 203, 203);
    margin: 10px;

}

.fab {
    font-size: 3vw;
}




.IB img {
    width: 70%;
    height: auto;

}


.navbar-brand img:hover,
#lefts img:hover {
    box-shadow: none !important;
}