.setting2 {
    background-color: rgba(242, 242, 247, 0.6);
}

p {
    font-size: 18px !important;
    font-family: 'Crimson Text', serif;
}

body {
    overflow-x: hidden !important;
}

.navbar {
    width: Calc(100%-15px) !important;
}

.setting6 {
    background-color: rgb(255, 255, 255);
}

.setting7 {
    background-color: rgb(242, 242, 247);

}

.setting8 {
    background-color: rgb(16, 25, 40);

}