#container:after {
    width: Calc(100%-15px);
    display: contents;
    content: "";
    height: auto;
}

#left,
#center,
#right {
    float: left;
    text-align: justify;
    text-justify: inter-word;
    text-align: left;
    justify-content: center;
}


#left {
    width: 43%;


}

#center,
#right,
#left {
    margin: 5% 0%;
}

#center,
#right {
    width: 23%;
    text-justify: inter-ideograph;


}

#right {
    margin-left: 47px;
}